@model Capstone2.Models.Cons

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cons</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd id="con-date">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConEntry)
        </dt>
        <dd id="con-deet">
            @Html.DisplayFor(model => model.ConEntry)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ConId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
